@import "utils";

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .chatLog {
        .text {
            width: 785px;
            height: 533px;
            border: 0px;
            overflow-y: scroll;


        }
        
        
    }
    .input {
        .message {
            width: 705px;
            height: 54px;
            border: 0;
            overflow-y: scroll;
            font-size: 1.2rem;
            padding-left: 10px;
            padding-top: 8px;
        }
        button {
            position: relative;
            bottom: 27px;
            width: 80px;
            height: 63px;
            border: 0;
            margin-left: 3px;
            background-color: #FFEB32;
            font-size: 1.1rem;
            color: $cooper;
            &:active {
                color: white;
            }
        }
    }
}


.my {

    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
    .username{
        font-size: 1.2rem;
        
    }
    .message{
        width: auto;
        padding-right: 12px;
        padding-top: 7px;
        
    }
}

.other {

    display: flex;
    flex-direction: column;
    .username{
        font-size: 1.2rem;
        margin-right: 8px;    
    }
    .message{
        width: auto;
        padding-left: 12px;
        padding-top: 7px;
    }
}