@import "utils";

.container {
    width: 200px;
    position: relative;
    left: 200px;
    margin-right: 90px;
    .title{
        border-bottom: 1px solid snow;
    }
    .body{
        margin-top: 13px;
    }
}
